<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Profile | Eng@ge!</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row" id="banner">
				<div class="title col-lg-12">
					<p class="title">
						<a href="./">ENG@GE!</a>
					</p>
					<p class="subtitle">...the awesome social platform</p>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">Eng@ge!</a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="./timeline.html">Timeline</a></li>
						<li class="active"><a href="./profile.html">My Profile</a></li>
						<li class=""><a href="">Logout</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-center bold">My Profile</h3>
				</div>
				<div class="col-lg-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row pad">
								<div class="col-lg-12">
									<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-responsive img-circle center-block" alt="Image" style="height: 220px;" />
								</div>
							</div>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<i class="glyphicon glyphicon-user"></i> NAME: 
								<strong class="pull-right">Miranda Cavendish</strong>
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-th"></i> Handle: 
								<strong class="pull-right"><em>@mirandaCAV</em></strong>
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-calendar"></i> MEMBER SINCE: 
								<strong class="pull-right">February 4, 2017</strong>
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-th-list"></i> FOLLOWERS COUNT: 
								<strong class="pull-right">300</strong>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-5">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4><strong>Activity</strong></h4>
							<div role="tabpanel">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active">
										<a href="#tweets" aria-controls="tweets" role="tab" data-toggle="tab">Tweets &amp; Replies</a>
									</li>
									<li role="presentation">
										<a href="#followings" aria-controls="followings" role="tab" data-toggle="tab">Followers</a>
									</li>
								</ul>
							
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="tweets">
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">Miranda Cavendish</strong> 
															<small><em>@mirandaCAV</em></small> . 
															July 5
														</div>
														<div class="pad">
															Yesterday was the best <a href="#">#fourthOfJuly</a> celebration of my life.
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">Miranda Cavendish</strong> 
															<small><em>@mirandaCAV</em></small> . 
															July 5
														</div>
														<div class="pad">
															Had fun with my family last night. <a href="#">#fourthOfJuly</a>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">Miranda Cavendish</strong> 
															<small><em>@mirandaCAV</em></small> . 
															July 5
														</div>
														<div class="pad">
															<a href="#">#fourthOfJuly</a> party is officially on!!!
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="followings">
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">May Joanna</strong> 
															<small><em>@real_mayJoanna</em></small>
														</div>
														<div class="row pad">
															<hr />
															<div class="col-lg-12">
																<i class="glyphicon glyphicon-th-list"></i> 400,000
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">Tracy Morgan</strong> 
															<small><em>@tMorgan</em></small>
														</div>
														<div class="row pad">
															<hr />
															<div class="col-lg-12">
																<i class="glyphicon glyphicon-th-list"></i> 195,565
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">Sameen Grooves</strong> 
															<small><em>@sameenGrooves</em></small>
														</div>
														<div class="row pad">
															<hr />
															<div class="col-lg-12">
																<i class="glyphicon glyphicon-th-list"></i> 233,267
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="row pad">
													<div class="col-lg-2">
														<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-circle" style="width: 60px; height: 60px;" />
													</div>
													<div class="col-lg-10">
														<div>
															<strong class="mid">Joss Ingram</strong> 
															<small><em>@jIngramJ</em></small>
														</div>
														<div class="row pad">
															<hr />
															<div class="col-lg-12">
																<i class="glyphicon glyphicon-th-list"></i> 1,060,056
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>Who To Watch</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								The English Premier League 
								<div>
									<strong>@theEPL</strong> 
									<span class="pull-right">
										3,949,335 Followers
									</span>
								</div>
							</li>
							<li class="list-group-item">
								Barclays Bank
								<div>
									<strong>@barclarysBank</strong> 
									<span class="pull-right">
										3,451 Followers
									</span>
								</div>
							</li>
							<li class="list-group-item">
								Leonardo Rumlow
								<div>
									<strong>@rummYLEO</strong> 
									<span class="pull-right">
										350 Followers
									</span>
								</div>
							</li>
							<li class="list-group-item">
								The Cable People
								<div>
									<strong>@theCablePeeps</strong> 
									<span class="pull-right">
										19,004 Followers
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2017 <strong> <a href="./">Eng@ge!</a></strong>
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
	</body>
</html>