<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Register | Eng@ge!</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row reg-page-banner" id="banner">
				<div class="title col-lg-12">
					<p class="title">
						<a href="./">ENG@GE!</a>
					</p>
					<p class="subtitle">...the awesome social platform</p>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row pad">
				<div class="col-lg-4 col-lg-offset-4 pad">
					<h2 class="text-center bold">Join Eng@ge! today.</h2>

					<br />

					<div class="form-group">
						<input type="text" name="full_name" id="full_name" class="form-control" placeholder="Enter your full name" />
					</div>

					<div class="form-group">
						<input type="text" name="username" id="username" class="form-control" placeholder="Enter a username" />
					</div>

					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control" placeholder="Enter your password" />
					</div>

					<div class="form-group">
    					<label for="exampleFormControlFile1">Profile image</label>
    					<input type="file" class="form-control-file" name="profile_image" id="profile_image">
  					</div>

					<div class="form-group">
						<button type="button" class="btn btn-danger btn-block">Sign up</button>
					</div>

					<div class="form-group">
						<a href="./"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
					</div>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2017 <strong> <a href="./">Eng@ge!</a></strong>
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
	</body>
</html>