<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Timeline | Eng@ge!</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/united.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row" id="banner">
				<div class="title col-lg-12">
					<p class="title">
						<a href="./">ENG@GE!</a>
					</p>
					<p class="subtitle">...the awesome social platform</p>
				</div>
			</div>
		</div>

		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">Eng@ge!</a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="./timeline.html">Timeline</a></li>
						<li class=""><a href="./profile.html">My Profile</a></li>
						<li class=""><a href="">Logout</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="text-center bold">Timeline</h3>
				</div>

				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row pad">
								<div class="col-lg-12">
									<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" class="img-responsive img-circle center-block" alt="Image" />
								</div>
							</div>
							<div class="row pad">
								<div class="col-lg-4 col-lg-offset-2 text-center">
									<strong>
										Tweets <br />
										56 
									</strong> 
								</div>
								<div class="col-lg-4 text-center">
									<strong>
										Followers <br />
										300 
									</strong>
								</div>
							</div>
						</div>
						<ul class="list-group">
							<a class="list-group-item" data-toggle="modal" href="#newPost" data-backdrop="static" data-keboard="false">
								<i class="glyphicon glyphicon-plus-sign"></i> Post New Message
							</a>
						</ul>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="thumbnail">
										<div class="caption">
											<div class="row">
												<div class="col-lg-10">
													<!-- <i class="glyphicon glyphicon-user"></i>  -->
													<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" style="width: 30px; height: 30px;" class="img-circle">
													<strong>Ashton Dennis</strong> 
													<small><em>@ashtonDennis</em></small>
												</div>
												<div class="col-lg-2 text-right">
													15m
												</div>
											</div>
											<div class="row pad">
												<div class="col-lg-12">
													Always enjoy what life has to offer because you never know when you will say your last word. <a href="#">#loveMyself</a> <a href="#">#healDaWound</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="thumbnail">
										<div class="caption">
											<div class="row">
												<div class="col-lg-10">
													<!-- <i class="glyphicon glyphicon-user"></i>  -->
													<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" style="width: 30px; height: 30px;" class="img-circle">
													<strong>Ashton Dennis</strong> 
													<small><em>@ashtonDennis</em></small>
												</div>
												<div class="col-lg-2 text-right">
													15m
												</div>
											</div>
											<div class="row pad">
												<div class="col-lg-12">
													Always enjoy what life has to offer because you never know when you will say your last word. <a href="#">#loveMyself</a> <a href="#">#healDaWound</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="thumbnail">
										<div class="caption">
											<div class="row">
												<div class="col-lg-10">
													<!-- <i class="glyphicon glyphicon-user"></i>  -->
													<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" style="width: 30px; height: 30px;" class="img-circle">
													<strong>Ashton Dennis</strong> 
													<small><em>@ashtonDennis</em></small>
												</div>
												<div class="col-lg-2 text-right">
													15m
												</div>
											</div>
											<div class="row pad">
												<div class="col-lg-12">
													Always enjoy what life has to offer because you never know when you will say your last word. <a href="#">#loveMyself</a> <a href="#">#healDaWound</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="thumbnail">
										<div class="caption">
											<div class="row">
												<div class="col-lg-10">
													<!-- <i class="glyphicon glyphicon-user"></i>  -->
													<img src=".{{ url_for('static', filename='imgs/anonymous.png') }}" style="width: 30px; height: 30px;" class="img-circle">
													<strong>Ashton Dennis</strong> 
													<small><em>@ashtonDennis</em></small>
												</div>
												<div class="col-lg-2 text-right">
													15m
												</div>
											</div>
											<div class="row pad">
												<div class="col-lg-12">
													Always enjoy what life has to offer because you never know when you will say your last word. <a href="#">#loveMyself</a> <a href="#">#healDaWound</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="thumbnail">
										<div class="caption">
											<div class="row">
												<div class="col-lg-10">
													<!-- <i class="glyphicon glyphicon-user"></i>  -->
													<img src="{{ url_for('static', filename='imgs/anonymous.png') }}" style="width: 30px; height: 30px;" class="img-circle">
													<strong>Dana Mali</strong> 
													<small><em>@denaMALI</em></small>
												</div>
												<div class="col-lg-2 text-right">
													55m
												</div>
											</div>
											<div class="row pad">
												<div class="col-lg-12">
													<a href="#">#beautifulUK</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>Who To Watch</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								The English Premier League 
								<div>
									<strong>@theEPL</strong> 
									<span class="pull-right">
										3,949,335 Followers
									</span>
								</div>
							</li>
							<li class="list-group-item">
								Barclays Bank
								<div>
									<strong>@barclarysBank</strong> 
									<span class="pull-right">
										3,451 Followers
									</span>
								</div>
							</li>
							<li class="list-group-item">
								Leonardo Rumlow
								<div>
									<strong>@rummYLEO</strong> 
									<span class="pull-right">
										350 Followers
									</span>
								</div>
							</li>
							<li class="list-group-item">
								The Cable People
								<div>
									<strong>@theCablePeeps</strong> 
									<span class="pull-right">
										19,004 Followers
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2017 <strong> <a href="./">Eng@ge!</a></strong>
					</div>
				</div>
			</footer>

			<div class="modal fade" id="newPost">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">Post New Message</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="form-group">
										<label>Enter new <a href="./">Eng@ge!</a> post</label>
										<textarea name="message" id="message" class="form-control" rows="6" required="required" placeholder="Enter your new message here."></textarea>
									</div>
									<div class="form-group">
										By posting on our platform, you agree to our <a href="#">Terms and Conditions</a>.
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								<i class="glyphicon glyphicon-ban-circle"></i> Close
							</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">
								<i class="glyphicon glyphicon-send"></i> Post
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery -->
		<script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
	</body>
</html>