.wizard{
    > .content{
        background: #f4f7f6;
        
        > .body{
            width: 100%;
        }
    }
    .steps{
        .number{
            font-size: 15px;
        }
    }
}