{% extends 'base.html' %}

{% block active_dashboard %}
    open active
{% endblock active_dashboard %}

{% block content %}
<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body block-header">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12">
                                <h2>Select Network Interface</h2>
                                <!-- <ul class="breadcrumb p-l-0 p-b-0 ">
                                    <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                                    <li class="breadcrumb-item active">Stater Page</li>
                                </ul> -->
                            </div>            
                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Blank</strong> Page</h2>     
                    </div>
                    <div class="body">
                        <h4>Stater page</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}