{% extends 'base.html' %}

{% block nav %}
    <!-- Top Bar -->
<nav class="top_navbar">
    <div class="container">
        <div class="row clearfix">
            <div class="col-12">
                <div class="navbar-logo">
                    <a href="javascript:void(0);" class="bars"></a>
                     <a class="navbar-brand" href="index.html"><span class="m-l-10">Network Intrusion Detection System</span></a>
                </div>  
            </div>
        </div>        
    </div>
</nav>

<aside id="leftsidebar" class="sidebar h_menu">
    <div class="container">
        <div class="row clearfix">
            <div class="col-12">
                <div class="menu">
                    <ul class="list">
                        <li class="header">MAIN</li>
                        <li class="{% block active_dashboard %}{% endblock %}"><a href="./newsFeeds.html" class="menu-toggle"><span>DashBoard</span></a>
                        <li class="{% block active %}{% endblock %}" ><a href="./newsFeeds.html" class="menu-toggle"><span>Logs</span></a>                              
                    </ul>
                </div>
            </div>
        </div>
    </div>
</aside>
{% endblock nav %}